/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.app {
  background-color: #f9f9f9;
}

/* Основные контейнеры */
.main-container {
  display: flex;
  flex: 1;
  min-width: 320px; /* Минимальная ширина для контейнера */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  min-width: 300px; /* Минимальная ширина для основного контента */
}

/* Навигация */
.side-nav {
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ddd;
  width: 250px;
  min-width: 200px; /* Минимальная ширина для боковой навигации */
  position: relative;
}

.side-nav ul {
  list-style-type: none;
}

.side-nav ul ul {
  margin-left: 15px;
  display: none;
}

.side-nav ul ul li {
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

.side-nav ul .sub-nav.active {
  display: block;
}

.side-nav.active {
  transform: translateX(0);
}

/* Оверлей */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay.active {
  display: block;
}

/* Адаптивность */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 20;
    min-width: 200px; /* Минимальная ширина для боковой навигации в мобильном режиме */
  }

  .side-nav.active {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
    min-width: 320px; /* Минимальная ширина для основного контента в мобильном режиме */
  }

  .overlay {
    display: block;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 10px;
  }

  .side-nav {
    width: 200px;
    min-width: 160px; /* Минимальная ширина для боковой навигации на очень маленьких экранах */
  }

  .burger-menu {
    display: flex;
  }
}
